@import url("https://fonts.googleapis.com/css?family=Inter:400,500,600,700&display=swap");

body {
    font-family: "Inter", sans-serif !important;
    font-size: 12px !important;
    font-weight: 400 !important;
    background-color: #060606 !important;
    color: #303030 !important;
  }


.overlay {
    position: fixed;
    z-index: 9;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    background-color: white;
    opacity: 0.5;
  }

  .loading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
  }

  .main-loader {
    border: 6px solid #666666;
    border-radius: 50%;
    border-top: 6px solid black;
    width: 70px;
    height: 70px;
    -webkit-animation: spin 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    animation: spin 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  }
  .resetSqare{
    height: 36px;
    width: 36px;
    background-color: white !important;
    color: black;
    border-radius: 4px;
    justify-content: center;
    border: none;
  }

  .title{
      padding: 12px 15px;
      color: white;
      border-color: var(--bs-border-color-translucent);
  }

  .profile {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 3rem;
    width: 90%;
    max-width: 300px;
    background-color: #1b2028;
    border-radius: 16px;
    position: relative;
    border: 3px solid transparent;
    background-clip: padding-box;
    text-align: center;
    color: #f1f3f3;
    background-image: linear-gradient(
      135deg,
      rgba(#752e7c, 0.35),
      rgba(#734a58, 0.1) 15%,
      #1b2028 20%,
      #1b2028 100%
    );
  }

  .profile:after {
    content: "";
    display: block;
    top: -3px;
    left: -3px;
    bottom: -3px;
    right: -3px;
    z-index: -1;
    position: absolute;
    border-radius: 16px;
    background-image: linear-gradient(
      135deg,
      #752e7c,
      #734a58 20%,
      #1b2028 30%,
      #2c333e 100%
    );
  }

  .profile-image {
    border-radius: 50%;
    overflow: hidden;
    width: 175px;
    height: 175px;
    position: relative;
  }

  .profile-image img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }

  .profile-username {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 1.5rem;
  }

  .profile-user-handle {
    color: #7d8396;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }